body{
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
}
img{
  border: 0;
}
table.principal{ 
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
table.principal td.menu{
  height: 1px;
  padding: 0;
  background-color: #EFEBDE; 
}
td.encabezado{
  height: 1px; 
  background-color: #FFFFF;
  font-weight: bold;
}
td.encabezado img{
  margin: 0 0 0 0px;
}
td.pie{
  height: 1px;  
  background-color: #FFFFF;
  font-weight: bold;
  text-align: center;
}
td.pie p{
  margin: 0;
}
td.pie img{
  vertical-align: middle;
}
table.menu{
  margin: 0 0 0 4px;
  width: 100%;
  background-color: #EFEBDE;
  border-collapse: collapse;
}
table.menu td.sesion{
  text-align: right;
  font-size: 75%;
}
.desconectar {
  font-size: 10px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: top;
  padding: 0px 4px 2px 16px;
  background-image: url(./imagenes/encabezado/cerrar.gif);
  color: red;
}